.body {
  background: linear-gradient(180deg, #62c2c8 0%, rgba(115, 238, 246, 0.16) 99.99%, rgba(118, 247, 255, 0) 100%);
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &--cloud,
  &--wind,
  &--humidity {
    position: relative;
    width: 33%;
    text-align: center;
  }
}

.cloud,
.wind,
.humidity {
  position: relative;
  top: 5px;
  margin-right: 10px;
}
.city {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 60px;
  text-align: center;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.25);

  &__name {
    margin: 12px;
  }

  &__weather {
    margin: 12px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
  }

  &__temperature {
    margin: 10px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
  }

  &__selection {
    position: relative;
    left: 15%;
    width: 70%;
    margin-bottom: 30px;
    justify-content: center;
    background: #ffffff;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 12px;
    padding: 10px;
  }
}

.tomorrow,
.in-2-days,
.in-3-days {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px white solid;
  width: 100%;
  margin: 0;
  justify-content: space-around;

  &__temperature {
    position: relative;
    margin-top: 16px;
    margin-bottom: 10px;
  }

  &__cloudiness,
  &__wind-speed,
  &__humidity {
    display: flex;
    height: 25px;
    align-items: baseline;
    text-align: left;
  }
}

.title {
  margin-bottom: 0;
  margin-left: 4%;
}

.label {
  width: 100%;
}
@media (min-width: 1024px) {
  .top {
    width: 50%;
  }

  .top .wind,
  .top .cloud,
  .top .humidity {
    height: 30px;
  }
  .title {
    height: 35px;
    text-align: end;
    width: 45%;
    justify-content: center;
  }

  .next-days {
    display: flex;
  }

  .tomorrow,
  .in-2-days,
  .in-3-days {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: none;

    &__temperature {
      width: 30%;
      border-right: none;
      justify-content: center;
      margin-bottom: 0px;
    }
    &__cloudiness,
    &__wind-speed,
    &__humidity {
      text-align: center;
      justify-content: center;
      width: 100%;
      border-right: 2px white solid;
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
  .in-3-days {
    &__cloudiness,
    &__wind-speed,
    &__humidity {
      border-right: none;
    }
  }
  .city {
    &__selection {
      left: 38.5%;
      width: 23%;
    }
  }
}
