.body {
  background: linear-gradient(180deg, #62c2c8 0%, white 135%);
  background-repeat: no-repeat;
}

.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.top--cloud,
.top--wind,
.top--humidity {
  position: relative;
  width: 33%;
  text-align: center;
}
#cloud,
#wind,
#humidity {
  position: relative;
  top: 5px;
  margin-right: 5px;
}
.city {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.25);

  &__name {
    margin: 10px;
  }

  &__weather {
    margin: 10px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
  }

  &__temperature {
    margin: 10px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
  }

  &__selection {
    position: relative;
    left: 15%;
    width: 70%;
    justify-content: center;
    background: #ffffff;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    border-color: white;
    padding: 10px;
  }
}

.tomorrow,
.in-2-days,
.in-3-days {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px white solid;
  justify-content: center;

  &__temperature {
    position: relative;
    margin-top: 16px;
    margin-bottom: 10px;
  }
}

.title {
  margin-bottom: 0px;
}

.tomorrow *,
.in-2-days *,
.in-3-days * {
  width: 25%;
  height: 25px;
}
